# Test for Pandas

In [11]:
import pandas as pd

In [12]:
d=pd.Series(range(20))

In [13]:
print(d)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
dtype: int64

In [14]:
print(d.cumsum())

0       0
1       1
2       3
3       6
4      10
5      15
6      21
7      28
8      36
9      45
10     55
11     66
12     78
13     91
14    105
15    120
16    136
17    153
18    171
19    190
dtype: int64

This is for Series type below:

In [15]:
a=pd.Series([9,8,7,6])
print(a)

0    9
1    8
2    7
3    6
dtype: int64

In [32]:
b=pd.Series([9,8,7,6],index=['a','b','c','d'])
print(b)
print(b['b'])
print(b[1])
print(0 in b)
print('c' in b)
print(b.get('f',100))#bing bu cunzai f label suoyi fanhui 100

a    9
b    8
c    7
d    6
dtype: int64
8
8
False
True
100

In [35]:
s=pd.Series(25,['a','b','c'])
k=pd.Series([1,2,3,4],['e','a','b','c'])
print(k+s)
#series + series ======= sum according to label-index,not dimensions 
print(" ")
print(s)

a    27.0
b    28.0
c    29.0
e     NaN
dtype: float64

a    25
b    25
c    25
dtype: int64

In [19]:
d=pd.Series({'a':9,'b':8,'c':7})
print(b)

a    9
b    8
c    7
d    6
dtype: int64

In [45]:
e=pd.Series({'a':9,'b':8,'c':7},index=['c','a','b','d'])
print(e.name)
e.name='DIY\'s series obj'
e.index.name='index cols'
print(e)
print("================")
e['b']=666
print(e)

None
index cols
c    7.0
a    9.0
b    8.0
d    NaN
Name: DIY's series obj, dtype: float64
================
index cols
c      7.0
a      9.0
b    666.0
d      NaN
Name: DIY's series obj, dtype: float64

In [26]:
import numpy as np
n=pd.Series(np.arange(5))
print(n)
m=pd.Series(np.arange(5),index=np.arange(9,4,-1))
print(m)

0    0
1    1
2    2
3    3
4    4
dtype: int32
9    0
8    1
7    2
6    3
5    4
dtype: int32

# This is test for DataFrame

In [70]:
d=pd.DataFrame(np.arange(10).reshape(2,5))
print("ä¼šæœ‰è‡ªåŠ¨è¡Œåˆ—ç´¢å¼•ğŸï¼Ÿ")
print(d) 
print("oh,Yes sir",end="\n\n")


dt={'one':pd.Series([1,2,3],index=['a','b','c']),
       'two':pd.Series([9,8,7,6],index=['a','b','c','d'])}
#å­—å…¸ç±»å‹ ç”Ÿæˆçš„DataFrameå¯èƒ½æ— åº
#print(dt)
d=pd.DataFrame(dt)
print(d)
print("d['one']:")
print(d['one'])
print("d.index[1]")
print(d.index[1])
print("\n\nThere is an element:")
print(d['one'][1])
print("\n\n")
print(d.ix['a'])

ä¼šæœ‰è‡ªåŠ¨è¡Œåˆ—ç´¢å¼•ğŸï¼Ÿ
   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9
oh,Yes sir

   one  two
a  1.0    9
b  2.0    8
c  3.0    7
d  NaN    6
d['one']:
a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64
d.index[1]
b


There is an element:
2.0



one    1.0
two    9.0
Name: a, dtype: float64

C:\ProgramData\Anaconda3\envs\cs231n\lib\site-packages\ipykernel_launcher.py:20: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [55]:
name=input("input ur name sir: ")#test for input

input ur name sir: Van Darkholme

In [82]:
d1={'city':['Bejing','Shanghai','Guangzhou','shenzhen','shenyang'],
   'huanbi':[101,102,103,104,105],
   'tongbi':[99,98,97,96,95],
   'dingji':[111,222,333,444,555]}
d1=pd.DataFrame(d1,index=['c1','c2','c3','c4','c5'])
d1.name='A table'
print(d1)
print("\n\n")
d1=d1.reindex(index=['c5','c4','c3','c2','c1'])
print(d1)
print("\n\n")
newc=d1.columns.insert(4,'New set')
newd=d1.reindex(columns=newc,fill_value=200)

print(newd)
print("\n\n")
#åæ­£å¯ä»¥ç”¨reindexæ“ä½œç´¢å¼•æ§åˆ¶â€œè¡¨æ ¼è¡Œåˆ—ï¼Œdropå¯ä»¥åˆ é™¤æŒ‡å®šè¡Œåˆ—ç´¢å¼•

         city  huanbi  tongbi  dingji
c1     Bejing     101      99     111
c2   Shanghai     102      98     222
c3  Guangzhou     103      97     333
c4   shenzhen     104      96     444
c5   shenyang     105      95     555



         city  huanbi  tongbi  dingji
c5   shenyang     105      95     555
c4   shenzhen     104      96     444
c3  Guangzhou     103      97     333
c2   Shanghai     102      98     222
c1     Bejing     101      99     111



         city  huanbi  tongbi  dingji  New set
c5   shenyang     105      95     555      200
c4   shenzhen     104      96     444      200
c3  Guangzhou     103      97     333      200
c2   Shanghai     102      98     222      200
c1     Bejing     101      99     111      200

è¿ç®—ï¼š

è¿™ä¸ªä¸å¤šè¯´äº†ï¼Œæ¯”è¾ƒç”¨åˆ°äº†Broadcast